<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input is-rounded" type="text" #input (keyup)=filter(input.value) placeholder="Search For">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>
    
    <div class="check-group">
        <span class="find_label">Find: </span>

        <label class="checkbox" >
            <input class="checkbox__input" type="checkbox" id="findTitle" (change)="filter(input.value)"> 
            <svg class="checkbox__icon" viewBox="0 0 22 22">
                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="black" rx="3" />
                <path class="tick" stroke="#37c7f2" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
            </svg>
            <span class="checkbox__label">Title</span>
        </label>
        
        <label class="checkbox" >
            <input class="checkbox__input" type="checkbox" id="findDesc" (change)="filter(input.value)"> 
            <svg class="checkbox__icon" viewBox="0 0 22 22">
                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="black" rx="3" />
                <path class="tick" stroke="#37c7f2" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
            </svg>
            <span class="checkbox__label">Description</span>
        </label>

        <label class="checkbox" >
            <input class="checkbox__input" type="checkbox" id="findTags" (change)="filter(input.value)"> 
            <svg class="checkbox__icon" viewBox="0 0 22 22">
                <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="black" rx="3" />
                <path class="tick" stroke="#37c7f2" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
            </svg>
            <span class="checkbox__label">Tags</span>
        </label>
    </div>

    <div class="notes-list">
            <app-note-card *ngFor = "let note of filteredNotes" 
                title="{{note.title}}" body="{{note.description}}" noteId="{{note.id}}"></app-note-card>
    </div>
    
    <button class="button floating-add-button is-primary" routerLink="notes/new">
        + Add New Note
    </button>
</div>