<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input is-rounded" type="text" placeholder="Search For">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="notes-list">
        <app-note-card></app-note-card>
    </div>
    
    <button class="button floating-add-button is-primary" routerLink="notes/new">
        + Add
    </button>
</div>