<div class="main-container">

    <div class="reminders-list" [@listAnim]>
        <app-reminder-card 
            *ngFor="let reminder of reminders"
            title = "{{reminder.title}}"
            body = "{{reminder.description}}"
            reminderId = "{{reminder.id}}"
            date = "{{reminder.date}}"
            (delete)="deleteReminder(reminder)"
            [@itemAnim]
        ></app-reminder-card>
    </div>
    
    <button class="button floating-add-button is-primary" (click)="Add()">
        + Add New Reminder
    </button>
</div>