<div #container class="note-card-container">
    <div class="note-card-content">
        <h1 class="note-card-title">
            Example
        </h1>
        <div #bodyText class="note-card-body">
            <p #noteP>
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
                TestingStuff
            </p>
            <div #truncator class="fade-out-truncation"></div>
        </div>
    </div>
        <div class="note-card-tags">
            <span>
                Work Work Work
                Work Work Work
                Work Work Work
                Work Work Work
                Work Work
            </span>
        </div>
    <div class="delete-button"></div>
</div>