<div #container class="note-card-container">

    <div class="note-card-content" [routerLink]="['notes', 'id', noteId]">
        <h1 class="note-card-title">
            {{title}}
        </h1>
        <div #bodyText class="note-card-body">
            <p #noteP>
               {{body}}
            </p>
        <div #truncator class="fade-out-truncation"></div>
    </div>

    </div>
        <div class="note-card-tags">            
            <rt *ngFor = "let title of tagsTitles">
                <span>
                    {{title}}
                </span>
            </rt>
    </div>

    <div class="delete-button" (click)="deleteNote(noteId)"></div>
</div>